@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
}

body {
    background-color: black;
}

/*===================navbar==============*/
nav {
    height: 70px;
    background-color: rgb(39, 38, 38);
    color: white;
    margin:8px;
    border-radius:11px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav .logo {
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

nav ul li {
    list-style-type: none;
    padding: 12px;
}

nav ul li a {
    text-decoration: none;
    color: #b3b3b3 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

/* not working  */
nav ul li a:hover {  
    color: white;
}

nav img {
    height: 45px;
    width: 45px;
    padding-right: 5px;
}

nav .fa-solid {
    padding: 0 6px;
    font-size: 1.3rem;
}

/*=====================container=================== */
.container {
    min-height: 70.5vh;
    font-family: 'Ubuntu', sans-serif;
    background: url("images/kpop2.jpg");
    color: white;
    margin: 20px auto;
    width: 68%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.container h1 {
    font-size: 2.2rem;
    height: 50px;
    margin: 20px 20px 60px;
}

.song-item {
    position: relative;
    background-color: black;
    height: 65px;
    width:30vw;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.song-item img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
}

.song-item .fa-solid {
    font-size: 1.4rem;
    padding: 10px;
    /* visibility: hidden; */
    cursor: pointer;
}


.song-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.artist {
    color: #b3b3b3;
    padding: 5px 0;
}

.timespan {
    padding: 19px;
}

/* =============bottom=============== */
.bottom {
    position: sticky;
    padding: 10px 0;
    height:80px;
    background-color:rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:8px;
    margin:10px;
    font-family: 'Ubuntu', sans-serif;
    /* box-shadow: 3px 2px 4px #b3b3b3; */
    /* margin:10px; */
}

.songInfo {
    color: white;
    position: absolute;
    left: 2vw;
    text-align: center;
}

.currentSong {
    display: flex;
}

.currentSong img {
    padding: 0 10px;
    height: 60px;
    width: 60px;
}

.songNameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.songNameContainer span{
    color:#b3b3b3;
    font-size:15px;
}

input[type=range] {
    -webkit-appearance: none;
    margin-bottom: 10px;
    cursor: pointer;
    width:37vw;
    border-radius: 15px;
    background: transparent;
    /* accent-color: purple; */
}
input[type=range]::-webkit-slider-runnable-track {
background: rgb(72, 71, 71);
/* opacity: 0.8; */
height:6px;
border-radius: 15px;

}

input[type=range]::-moz-range-track {
background:rgb(72, 71, 71);
/* opacity: 0.8; */
height:6px;
border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb{
    appearance:none;
    height: 15px;
    width:15px;
    background: white;
    border-radius:50%;
    /* margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
    margin-top: -4.5px;
}

input[type=range]::-moz-range-thumb{
    border:none;
    border-radius: 50%;
    height:15px;
    width:15px;
    background: white;
}



.icons{
    display:flex;
    justify-content: center;
    align-items:center;
}

.icons .fa-solid,
.icons .fa-light {
    font-size: 1.3rem;
    color: #b3b3b3;
    padding: 15px;
    cursor: pointer;
}

.icons i:hover {
    color: white;
}

.icons .fa-circle-play {
    font-size: 2rem;
    color: white !important;
}
